@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@layer components {
  .text-header {
    @apply text-gray-200;
  }

  .text-body {
    @apply text-gray-300;
  }

  .header-box {
    @apply scroll-mt-16 text-gray-100 text-3xl font-bold px-8 pt-6 pb-4
  }

  .content-box {
    @apply mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 bg-gray-700 rounded-xl text-gray-300
  }
}