@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer components {
  .header-text {
    @apply text-gray-600 text-3xl font-bold;
  }

  .body-text {
    @apply text-gray-600 text-xl font-bold;
  }
}
